@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.zoom-out {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.zoom-out-image {
  animation: zoomOut 1.5s ease-out forwards;
  transform-origin: center center;
}

/* Apply Rubik font immediately to ensure it's used */
* {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-stone-800;
}

ul {
  list-style: disc;
  margin-left: 1.5em;
}

li {
  margin-bottom: 0.5em;
}

.bg_light_yellow {
  background: #faf3e1;
}

.bg_light_brown {
  background: #93845e;
}

.bg_gray {
  background: #aaa19c;
}

.tc_light_yellow {
  color: #faf3e1;
}

.tc_light_brown {
  color: #93845e;
}

.tc_gray {
  color: #aaa19c;
}

.hover\:text-neutral-100:hover {
  color: #f5f5f5;
}

.hover\:text-stone-800:hover {
  color: #292524;
}

.tc_gray:hover {
  color: #f5f5f5;
}

.custom-color-opacity {
  background-color: rgba(147, 132, 94, 0.90);
}

.slide-up {
  transform: translateY(200px);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.slide-up.show {
  transform: translateY(0);
  opacity: 1;
}

.menuToggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menuToggle span {
  display: block;
  width: 100%;
  height: 2px;
  transition: transform 0.1s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.menuToggle span.bg_gray {
  background-color: #aaa19c;
}

.menuToggle span.bg-neutral-100 {
  background-color: #f5f5f5;
}

.menuToggle span.bg-stone-800 {
  background-color: #292524;
}

.menuToggle:hover span.bg_gray {
  background-color: #f5f5f5;
}

.menuToggle:hover span.bg-neutral-100 {
  background-color: #292524;
}

@media (hover: none) {
  .menuToggle span.bg_gray {
    background-color: #aaa19c !important;
  }

  .menuToggle span.bg-neutral-100 {
    background-color: #f5f5f5 !important;
  }

  .menuToggle span.bg-stone-800 {
    background-color: #292524 !important;
  }
}

.line1 {
  transform: translateY(0) rotate(0);
}

.line1Open {
  transform: translateY(12px) rotate(45deg);
}

.line2 {
  opacity: 1;
}

.line2Open {
  opacity: 0;
}

.line3 {
  transform: translateY(0) rotate(0);
}

.line3Open {
  transform: translateY(-12px) rotate(-45deg);
}

/* Navbar animation */
.navbar {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar-collapsed {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.navbar-expanded {
  max-height: 1000px;
  opacity: 1;
  overflow: hidden;
}

/* Images Carousel */
.image-carousel-container {
  margin: 80px 8%;
}

.image-slide {
  padding: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, padding 0.3s ease;
}

.image-slide:hover {
  transform: scale(1.05);
}

.image-slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
  outline: none;
}

.image-slide img:focus,
.image-slide img:active {
  outline: none;
}

@media (max-width: 768px) {
  .image-slide {
    padding: 6px;
  }
}

@media (max-width: 480px) {
  .image-slide {
    padding: 4px;
  }
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-content {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-content img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fullscreen-prev,
.fullscreen-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1001;
  border-radius: 50%;
  outline: none;
}

.fullscreen-prev {
  left: 10px;
}

.fullscreen-next {
  right: 10px;
}

.fullscreen-prev:hover,
.fullscreen-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fullscreen-prev:focus,
.fullscreen-next:focus {
  outline: none;
}

/* Apply the grayscale effect by default */
.hover\:grayscale:hover {
  filter: grayscale(1);
  transition: filter 0.3s ease;
}

/* Disable the grayscale effect on touch devices */
.no-hover .hover\:grayscale {
  filter: none !important;
}
