@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Apply Rubik font immediately to ensure it's used */
* {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  @apply bg-stone-800;
}

.bg_light_yellow {
  background: #faf3e1;
}

.bg_light_brown {
  background: #93845e;
}

.bg_gray {
  background: #aaa19c;
}

.tc_light_yellow {
  color: #faf3e1;
}

.tc_light_brown {
  color: #93845e;
}

.tc_gray {
  color: #aaa19c;
}

.slide-up {
  transform: translateY(200px);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.slide-up.show {
  transform: translateY(0);
  opacity: 1;
}

.menuToggle {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menuToggle span {
  display: block;
  width: 100%;
  height: 2px;
  transition: transform 0.1s ease, opacity 0.3s ease;
}

.line1 {
  transform: translateY(0) rotate(0);
}

.line1Open {
  transform: translateY(12px) rotate(45deg);
}

.line2 {
  opacity: 1;
}

.line2Open {
  opacity: 0;
}

.line3 {
  transform: translateY(0) rotate(0);
}

.line3Open {
  transform: translateY(-12px) rotate(-45deg);
}

/* Navbar animation */
.navbar {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navbar-collapsed {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.navbar-expanded {
  max-height: 1000px;
  opacity: 1;
  overflow: hidden;
}

/* Images Carousel */
.image-carousel-container {
  margin: 80px 8%; /* Adjust margins as needed */
}

.image-slide {
  padding: 10px;
  overflow: hidden; /* Hide overflow to prevent image from overflowing container */
  position: relative; /* Position relative to allow absolute positioning of the image */
  border-radius: 8px; /* Rounded corners for the container */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example shadow effect */
  transition: transform 0.3s ease, padding 0.3s ease; /* Smooth transition for scaling and padding */
}

.image-slide:hover {
  transform: scale(1.05); /* Slightly increase size on hover */
}

.image-slide img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Ensure image itself also has rounded corners */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
  outline: none; /* Remove outline */
}

.image-slide img:focus,
.image-slide img:active {
  outline: none; /* Remove outline when image is focused or active */
}

@media (max-width: 768px) {
  .image-slide {
    padding: 6px; /* Adjust slide padding for tablets */
  }
}

@media (max-width: 480px) {
  .image-slide {
    padding: 4px; /* Adjust slide padding for mobile */
  }
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  z-index: 1000;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.fullscreen-content {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 90%; /* Maximum width of the content */
  max-height: 90%; /* Maximum height of the content */
  text-align: center;
  overflow: hidden; /* Hide overflow to prevent scrollbars */
  display: flex;
  justify-content: center; /* Center image horizontally */
  align-items: center; /* Center image vertically */
}

.fullscreen-content img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px; /* Rounded corners for images */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example shadow effect */
}
